/* General */

@media (min-width: 576px) {
  :root {
    --pico-font-size: 103.25%;
  }
}

@media (min-width: 768px) {
  :root {
    --pico-font-size: 106.5%;
  }
}

@media (min-width: 1024px) {
  :root {
    --pico-font-size: 112.5%;
  }
}

@media (min-width: 1280px) {
  :root {
    --pico-font-size: 118%;
  }
}

@media (min-width: 1536px) {
  :root {
    --pico-font-size: 121.25%;
  }
}

body>footer {
  font-size: 80%;
}

body>header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--pico-background-color);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials::before {
  display: block;
  height: 1.125rem;
  margin-inline: var(--pico-nav-element-spacing-horizontal);
  border-left: var(--pico-border-width) solid var(--pico-form-element-border-color);
  content: "";
}

/* Burger menu */
.burger {
  display: none;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.burger svg {
  fill: var(--pico-color);
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 120%;
    right: 1rem;  /* Align to right */
    width: 280px; /* Fixed width */
    background: var(--pico-background-color);
    padding: 1rem;
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
    border-radius: 0 0 0 var(--pico-border-radius);
    box-shadow: var(--pico-card-box-shadow);
    
    /* Add smooth transition */
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .nav-menu.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }

  .header {
    position: relative;
  }

  /* Stack menu items vertically */
  .nav-menu ul {
    flex-direction: column;
    gap: 1rem;
  }

  .nav-menu ul.secondary {
    margin-bottom: 1.5rem;
  }

  /* Remove the separator before socials */
  .socials::before {
    display: none;
  }

  /* Grid layout for social links */
  .nav-menu ul.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
  }

  /* Remove default flex column from mobile styles */
  .nav-menu ul.socials {
    flex-direction: unset;
  }

  /* Adjust spacing for social icons */
  .nav-menu ul.socials li {
    margin: 0;
  }

  /* Remove separator */
  .socials::before {
    display: none;
  }
}

/* Single page */

@media (min-width: 768px) {
  .page .grid {
    grid-template-columns: 4fr 1fr;
  }
}

@media (max-width: 767px) {
  #TableOfContents {
    display: none;
  }
}

#TableOfContents li a {
  font-size: 90%;
  --pico-color: var(--pico-secondary);
  --pico-underline: var(--pico-secondary-underline);
}

#TableOfContents li li {
  margin-left: 1rem;
}

#TableOfContents {
  position: sticky;
  top: 6rem;
}