<div
  class="bg-mirage-bgnav mx-auto px-10 inline-flex items-center justify-between w-full h-16 text-base fixed top-0 z-50"
>
  <a href="{{ absURL "" }}" class="font-bold text-lg">{{ site.Title }}</a>

  {{/* <button class="burger" aria-label="Open navigation menu">
    <svg width="24" height="24" viewBox="0 0 24 24">
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>
    </button>
  */}}


  <nav class="inline-flex space-x-10">
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    {{ partial "socials.html" . }}
  </nav>
</div>
