<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if .Site.Params.enable_open_graph }}
  {{ template "_internal/opengraph.html" . }}
{{ end }}
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>
<link
  rel="alternate"
  type="application/rss+xml"
  href="{{ .Site.BaseURL }}/feed.xml"
  title="{{ .Site.Title }}"
/>
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
