<div class="terms-container">
  {{ with .page.Params.author }}
    {{ with site.Taxonomies.author.Get . }}
      <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
    {{ else }}
      {{ . }}
    {{ end }}
  {{ end }}

  {{ with index .page.Params .taxonomy }}
    <ul class="taxonomy-list">
      {{ range . }}
        {{ $href := (printf "/%s/%s" $.taxonomy (urlize .)) }}
        <li>
          <a href="{{ $href }}" class="taxonomy-tag">{{ . }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>
